body {
    padding: 0%;
    margin: 0%;
}

.hide {
    display: none;
}

iframe {    
    width: 450px;
    height: 260px;  
/* 
    -ms-zoom: 0.7;
    -moz-transform: scale(0.7);
    -moz-transform-origin: 0px 0;
    -o-transform: scale(0.7);
    -o-transform-origin: 0 0;
    -webkit-transform: scale(0.7);
    -webkit-transform-origin: 0 0;  

*/  
    -ms-zoom: 0.75;
    -moz-transform: scale(0.75);
    -moz-transform-origin: 0px 0;
    -o-transform: scale(0.75);
    -o-transform-origin: 0 0;
    -webkit-transform: scale(0.75);
    -webkit-transform-origin: 0 0; 
        
}

iframe #displayValue {
    font-size: 20px;
}

.mid {
    height: 190px;
}

.small {
    height: 180px;
}

.big iframe {
    width: 430px;
}

.mid iframe {
    width: 300px;
    height: 250px;
}

.small iframe {
    width: 190px;
    height: 200px;       
}

.panel-with-image {
    background-repeat: no-repeat;
    background-position-x: left;
    background-position-y: center ;
    padding-left: 50px;
}


.ico {
    width: 50px;
    height: 50px;
    background-repeat: no-repeat;
    background-position-x: left;
    background-position-y: center ;    
}

.ico-solar {
    background-image: url(https://img.icons8.com/office/40/solar-panel.png);
}

.ico-power-grid {
    background-image: url(https://img.icons8.com/ios/50/transmission-tower.png);
}

.ico-battery {
    background-image: url(https://img.icons8.com/ios/50/car-battery.png);
}

.ico-load {
    background-image: url(https://img.icons8.com/office/50/home.png);
}